@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--light-yellow: #EAE7DC;
	--pink: #E98074;
	--red: #E85A4F;
	--light-orange: #8F8F7F5;
	--gray: #8E8D8A;
	--left-card: #D8C4A5;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

header {
	top: 0;
	z-index: 100;
	width: 100%;
	background: var(--light-yellow);
	height: 80px;
	padding: 0rem, 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul {
	padding:0px;
    margin:0px;
    list-style:none;
}

header ul li {
	display: inline;
}

header ul li a {
	color: rgba(142, 141, 138, 1);
	
}

footer {
	bottom: 0;
	z-index: 100;
	width: 100%;
	background: var(--red);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	justify-content: center;
	align-items: center;
	background: var(--light-yellow);
	padding: 0rem 10rem 0rem 10rem;
}

main .tab-title {
	padding-bottom: 50px;
}

main .content {
	width: 100%;
	min-height: 830px;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

main .content .links {
	justify-content: center;
	align-items: center;
}

main .content .links i {
	padding: 0px 8px 0px 8px;
}

main .content .left-card {
	width: 500px;
	height: 500px;
	background: var(--left-card); 
	position: absolute;
}

main .content .right-card {
	right: 200px;
	width: 50%;
	background: var(--pink); 
	position: absolute;
}

body .ui-datagrid .ui-datagrid-content {
	background: none;
}