@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--light-yellow: #EAE7DC;
	--pink: #E98074;
	--red: #E85A4F;
	--light-orange: #8F8F7F5;
	--gray: #8E8D8A;
	--left-card: #D8C4A5;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

header {
	top: 0;
	z-index: 100;
	width: 100%;
	background: var(--light-yellow);
	height: 80px;
	padding: 0rem, 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul {
	padding:0px;
    margin:0px;
    list-style:none;
}

header ul li {
	display: inline;
}

header ul li a {
	color: rgba(142, 141, 138, 1);
}

body {
	display: flex;
	flex-direction: column;
	background: var(--light-yellow);
	min-height: 100%;
}

footer {
	margin-top: auto;
	z-index: 100;
	width: 100%;
	background: var(--red);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .menu-items{
	color: #FFE4E2;
}

main {
	justify-content: center;	
	align-items: center;
	padding: 0rem 10rem 0rem 10rem;
}

main .tab-title {
	padding-bottom: 50px;
}

main .content {
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

main .content .links {
	justify-content: center;
	align-items: center;
}

main .content .links i {
	padding: 0px 8px 0px 8px;
}

body .ui-datagrid .ui-datagrid-content {
	background: none;
	border: none;
}

body .ui-commandlink:hover, body .ui-link:hover {
    color: var(--gray);
    text-decoration: none;
}
body .ui-commandlink, body .ui-link {
    color: var(--gray);
    transition: none;
}
body .ui-widget {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

body .ui-datascroller .ui-datascroller-content {
    border: none;
    background: var(--light-yellow);
    color: white;
    padding: 1rem;
}

.post-title {
	background-color: #D8C4A5; 
	display: inline-block; 
	border: 1px black solid; 
	margin-left: 20px; 
	margin-bottom: 10px;
}

.post-title .title {
	color: #525252; 
	margin: 10px 10px 10px 10px; 
	justify-content: center; 
	text-align: center;
}

.post-content {
	width: 100%; 
	justify-content: center; 
	align-items: center;
}

.post-content .text {
	color: #FFE4E2; 
	margin: 10px 50px 20px 50px;
	padding-bottom: 20px;
}

body .ui-card {
	background: #D6C9B6;
}

body .ui-card .ui-card-body {
	padding: 0rem;
}

.card-music {
	width: 30em; 
	text-align:center; 
	justify-content: center; 
	align-items: center;
}

.right-card {
	background: #E98074; 
	margin-left: 20px;
	width: 100%;
}

.right-card .text {
	color: #FFE4E2; 
	padding: 25px 25px 0px 25px;
}
#lyrics {
	width: 100%; 
	text-align: center;
	background: var(--pink);
	border: none;
	color: #FFE4E2;  
	font-size: 1.2rem;
}

body .ui-state-disabled {
	opacity: 1;
}